.header {
    height: 200px;
    width: 100%;
    background-color: #E9EEF6;
    text-align: center;
    padding-top: 25px;
}

.bouton {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato';
    color: #FFFFFF;
    transition: all 0.2s;
    background-color: #1d3557;
}

.bouton:hover {
    color: #000000;
    background-color: #9a4ef1;
}

