.container {
    display: flex;
    margin: auto;
    width: 100%; 
    align-items: center;
    /*justify-content: ;*/
}

footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #060b26;
    color: white;
    display: flex;
    align-items: center;
}

footer ul {
    list-style-type: none;
    margin: 0 20px;
}

footer .fa {
     transform: scale(3,3); 
     margin: 40px;
}

footer a:first-of-type {
    margin-left: auto;
}
